.maindiv {
  display: flex;
  /* justify-content: space-around; */
  padding-left: 5%;
  padding-right: 5%;
  /* height: 50px; */
}
.div {
  /* width: calc(33.33% - 10px); */
  /* width: 100px; */

  margin-top: 15px;
  margin-right: 20px;
}

.text {
  margin-right: 10px;
  margin-top: 200px;
}

.heading {
  text-align: left;
  margin-right: 100px;
}
